{% extends "base.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 450px;">
  <div class="card p-4 shadow-lg">
    <h3 class="text-center text-warning fw-bold mb-4">👑 Admin Login</h3>
    <form method="POST">
      <div class="mb-3">
        <label class="form-label">Username</label>
        <input type="text" name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <button class="btn btn-warning w-100 fw-bold">Login as Admin</button>
    </form>
  </div>
</div>
{% endblock %}
